:root{
    --bg: #0F131A;
    --SecEnv: #313a4d;
    --mainAcc: #CC6622;
    --effect : #FFA34D;
    --mainHudTxt: #00FFC2;
    --secHudTxt: #6C5CE7;
    --valueTxt: #F8F9FA;
    --hudWarn: #FF1744;
    
}
@font-face {
    font-family: font;
    src: url(../media/FiraCode-Regular.ttf);
}
body{
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "top top top top"
    "left action action right"
    "left action action right"
    "left action action right"
    ;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    grid-template-rows: 1fr 11fr;
    height: 100dvh;
    width: 100dvw;
    /*overflow: hidden;*/
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    font-family: font;
}
.hud{
    color: var(--mainHudTxt);
    z-index: 1;
}
#topHud{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    background-color: rgba(49, 58, 77,.25) ;
    grid-area: top;
    color: #2cff05;
    
   
   
}
#topHud>span{
    align-items: center;
    display: inline-flex;
}
.entity{
    margin: 0 .5em;

}
#sysCont{
    padding: .5em;
}
#leftHud{
    height: 100%;
    background-color: rgba(49, 58, 77, .25);
    grid-area: left;
    
    
    
}
#NumAlt{
    border: .15em solid var(--mainAcc);
}
#ScaleAlt{
    display: flex;
    flex-direction: column;
    
}
#rightHud{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--valueTxt);
    background-color: rgba(49, 58, 77, .25);
    grid-area: right;
    align-items: center;
}
#rightHud>span{
    margin: 1em 0;
}
#markerCont{
    position: absolute;
    bottom: 0;
    display: inline-flex;
    
}
#markerCont>p{
    margin: 0 .5em;
    font-size: 1.2em;
}

#viewer{
    display: flex;
    width: 100%;
    grid-area: action;
    align-items: center ;
    justify-content: center;
}
#status{
    position: absolute;
    align-self: flex-start;
}
.ships{
    position: absolute;
    transform: scale(.25);
}
#viewer>#ship{
    padding-bottom: 150px;
}
#left{
    transform: translateY(0px);
}
#terra{
    width: 100%;
    height: 10px;
    align-self: flex-end;
    background-color: #2cff05;
}
